*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Exercicio-20/nbproject/private/
/Exercicio-20/build/
/Exercicio-15/nbproject/private/
/Exercicio-15/build/
/Exercicio-18/nbproject/private/
/Exercicio-18/build/
/Exercicio-12/nbproject/private/
/Exercicio-12/build/
/Exercicio-06/nbproject/private/
/Exercicio-06/build/
/Exercicio-17/nbproject/private/
/Exercicio-17/build/